.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

/* Updated header and nav styles */
header {
    padding: 3rem;
    grid-column: 1 / 4;
    background-color: gray;
    position: relative;
    border-radius: 4px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

nav {
    width: 100%;
    padding: 1rem;
    background-color: black;
    /* position: absolute;
    bottom: 0; */
    border-radius: 4px;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}

.wrap {
    flex-wrap: wrap;
}

/* Adjusting left and right side columns */
.main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / 4;
}


.left-side {
    padding: 5rem;
    background-color: lightgray;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h2 {
    width: 100%;
    background-color: #0073e6;
    text-align: center;
    border-radius: 4px;
}

.right-side {
    padding: 5rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card {
    padding: 2rem;
    background-color: #f9f9f9;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
}

.card ul li {
    margin: 0.5rem 0;
}

.card ul li a {
    color: #0073e6;
    text-decoration: none;
}

.card ul li a:hover {
    text-decoration: underline;
}


footer {
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    background-color: gray;
    border-radius: 4px;
}