@media (min-width: 37.5em) {
    header {
        display: grid;
        grid-column: 1 / 4;
        background-color: gray;
        position: relative;
        border-radius: 4px;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        text-align: center;
    }

    figure {
        display: grid;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .hero-image {
        background-image: url('images/place-large-screen-photo.png');
        /* Change to larger image */
    }
}