@media (min-width: 37.5em) {

    /* Base styles */
    body {
        font-family: 'Open Sans', sans-serif;
    }

    header {
        text-align: center;
        background-color: gray;
        padding: 1rem;
    }

    h1 {
        font-family: 'Times', serif;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    /* Hero image */
    .hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
        background-size: cover;
        background-position: center;
    }

    /* Data and Weather layout */
    .data-weather-container {
        display: flex;
        justify-content: space-around;
        /* Space elements evenly */
        margin: 1rem;
    }

    .country-facts,
    .weather {
        flex: 1;
        padding: 1.5rem;
        background-color: #f9f9f9;
        margin: 0 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .country-facts ul,
    .weather ul {
        list-style: none;
        padding: 0;
    }

    .country-facts li,
    .weather li {
        text-align: center;
        margin: 0.5rem 0;
    }

    .weather figure {
        justify-content: right;
        align-items: right;
        margin: 0 auto;
    }

    /* Footer styles */
    footer {
        padding: 2rem;
        text-align: center;
        background-color: gray;
        border-radius: 4px;
    }
}