:root {
    --primary-bg-color: #333;
    /* Background color */
    --secondary-text-color: #f9f9f9;
    /* Text color */
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
}

header {
    display: grid;
}

h1 {
    text-align: center;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
}

/* Hero image section */
.hero img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Country Facts and Weather */
.country-facts,
.weather {
    padding: 1.5rem;
    background-color: #f9f9f9;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-facts ul,
.weather ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.country-facts li,
.weather li {
    text-align: center;
    margin: 0.5rem 0;
}

.weather figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.weather img {
    width: 100px;
    height: auto;
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: gray;
    border-radius: 4px;
}